USE [master]
GO
/****** Object:  Database [MedicalCare]    Script Date: 08/08/2025 22:49:35 ******/
CREATE DATABASE [MedicalCare]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MedicalCare_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MedicalCare.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MedicalCare_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MedicalCare.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MedicalCare].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MedicalCare]
GO
USE [MedicalCare]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 08/08/2025 22:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[Appointment_Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[DoctorId] [int] NOT NULL,
	[Appointment_StartUtc] [datetime2](7) NOT NULL,
	[Appointment_EndUtc] [datetime2](7) NOT NULL,
	[Appointment_Diagnosis] [nvarchar](500) NULL,
	[Appointment_Room] [nvarchar](30) NULL,
	[Appointment_Status] [nvarchar](20) NULL,
	[Appointment_CreatedBy] [nvarchar](128) NOT NULL,
	[Appointment_CreatedAt] [datetime2](7) NOT NULL,
	[Appointment_ModifiedBy] [nvarchar](128) NULL,
	[Appointment_ModifiedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Appointment] PRIMARY KEY CLUSTERED 
(
	[Appointment_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 08/08/2025 22:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[Doctor_Id] [int] IDENTITY(1,1) NOT NULL,
	[Doctor_FirstName] [nvarchar](100) NOT NULL,
	[Doctor_LastName] [nvarchar](100) NOT NULL,
	[Doctor_Email] [nvarchar](255) NULL,
	[Doctor_Phone] [nvarchar](50) NULL,
	[Doctor_LicenseNumber] [nvarchar](50) NOT NULL,
	[SpecialityId] [int] NOT NULL,
	[Doctor_CreatedBy] [nvarchar](128) NOT NULL,
	[Doctor_CreatedAt] [datetime2](7) NOT NULL,
	[Doctor_ModifiedBy] [nvarchar](128) NULL,
	[Doctor_ModifiedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Doctor] PRIMARY KEY CLUSTERED 
(
	[Doctor_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Doctor_LicenseNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 08/08/2025 22:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[Patient_Id] [int] IDENTITY(1,1) NOT NULL,
	[Patient_FirstName] [nvarchar](100) NOT NULL,
	[Patient_LastName] [nvarchar](100) NOT NULL,
	[Patient_RUT] [varchar](12) NOT NULL,
	[Patient_DateOfBirth] [date] NOT NULL,
	[Patient_Gender] [char](1) NULL,
	[Patient_Phone] [nvarchar](50) NULL,
	[Patient_Email] [nvarchar](255) NULL,
	[Patient_AddressLine1] [nvarchar](150) NULL,
	[Patient_AddressLine2] [nvarchar](150) NULL,
	[Patient_City] [nvarchar](100) NULL,
	[Patient_State] [nvarchar](100) NULL,
	[Patient_PostalCode] [nvarchar](20) NULL,
	[Patient_CreatedBy] [nvarchar](128) NOT NULL,
	[Patient_CreatedAt] [datetime2](7) NOT NULL,
	[Patient_ModifiedBy] [nvarchar](128) NULL,
	[Patient_ModifiedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[Patient_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Patient_RUT] UNIQUE NONCLUSTERED 
(
	[Patient_RUT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Speciality]    Script Date: 08/08/2025 22:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Speciality](
	[Speciality_Id] [int] IDENTITY(1,1) NOT NULL,
	[Speciality_Name] [nvarchar](100) NOT NULL,
	[Speciality_Description] [nvarchar](250) NULL,
	[Speciality_CreatedBy] [nvarchar](128) NOT NULL,
	[Speciality_CreatedAt] [datetime2](7) NOT NULL,
	[Speciality_ModifiedBy] [nvarchar](128) NULL,
	[Speciality_ModifiedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Speciality] PRIMARY KEY CLUSTERED 
(
	[Speciality_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Speciality_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointment_Doctor_Time]    Script Date: 08/08/2025 22:49:35 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Appointment_Doctor_Time] ON [dbo].[Appointment]
(
	[DoctorId] ASC,
	[Appointment_StartUtc] ASC,
	[Appointment_EndUtc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointment] ADD  DEFAULT (sysutcdatetime()) FOR [Appointment_CreatedAt]
GO
ALTER TABLE [dbo].[Doctor] ADD  DEFAULT (sysutcdatetime()) FOR [Doctor_CreatedAt]
GO
ALTER TABLE [dbo].[Patient] ADD  DEFAULT (sysutcdatetime()) FOR [Patient_CreatedAt]
GO
ALTER TABLE [dbo].[Speciality] ADD  DEFAULT (sysutcdatetime()) FOR [Speciality_CreatedAt]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Doctor] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctor] ([Doctor_Id])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Doctor]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Patient] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([Patient_Id])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Patient]
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [FK_Doctor_Speciality] FOREIGN KEY([SpecialityId])
REFERENCES [dbo].[Speciality] ([Speciality_Id])
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [FK_Doctor_Speciality]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [CK_Appointment_NoOverlap] CHECK  (([Appointment_EndUtc]>[Appointment_StartUtc]))
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [CK_Appointment_NoOverlap]
GO
/****** Object:  StoredProcedure [dbo].[Appointment_AverageDuration]    Script Date: 08/08/2025 22:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Oscar Aguilera>
-- Create Date: <08/08/2025>
-- Description: Duración promedio (min) de atenciones por especialidad, 
--              filtrando opcionalmente por un Id de especialidad.
 /*
   -- Test --
   -- Todas las especialidades
   EXEC dbo.Appointment_AverageDuration @SpecialityId = NULL;

   -- Solo una especialidad
   EXEC dbo.Appointment_AverageDuration @SpecialityId = 2;
 */
-- =============================================
create PROCEDURE [dbo].[Appointment_AverageDuration]
  @SpecialityId INT = NULL
AS
BEGIN
  SET NOCOUNT ON;

  SELECT
    s.Speciality_Id AS SpecialityId,
    s.Speciality_Name AS SpecialityName,
    AVG(CAST(DATEDIFF(MINUTE, a.Appointment_StartUtc, a.Appointment_EndUtc) AS DECIMAL(10,2))) AS AvgDurationMinutes,
    COUNT(*) AS TotalAppointments
  FROM Appointment a
    JOIN Doctor d ON d.Doctor_Id = a.DoctorId
    JOIN Speciality s ON s.Speciality_Id = d.SpecialityId
  WHERE (@SpecialityId IS NULL OR s.Speciality_Id = @SpecialityId)
  GROUP BY s.Speciality_Id, s.Speciality_Name
  ORDER BY s.Speciality_Name;
END
GO
/****** Object:  StoredProcedure [dbo].[Appointment_GetById]    Script Date: 08/08/2025 22:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Oscar Aguilera>
-- Create Date: <08/08/2025>
-- Description: Obtener una atención por Id
/*
  -- Test
  EXEC dbo.Appointment_GetById @AppointmentId = 1;
*/
-- =============================================
CREATE PROCEDURE [dbo].[Appointment_GetById]
  @AppointmentId INT
AS
BEGIN
  SET NOCOUNT ON;

  SELECT
    a.Appointment_Id AS AppointmentId,
    a.PatientId,
    p.Patient_FirstName AS PatientFirstName,
    p.Patient_LastName AS PatientLastName,
    a.DoctorId,
    d.Doctor_FirstName AS DoctorFirstName,
    d.Doctor_LastName AS DoctorLastName,
    d.SpecialityId AS SpecialityId,
    s.Speciality_Name AS SpecialityName,
    a.Appointment_StartUtc AS StartUtc,
    a.Appointment_EndUtc AS EndUtc,
    DATEDIFF(MINUTE, a.Appointment_StartUtc, a.Appointment_EndUtc) AS DurationMinutes,
    a.Appointment_Diagnosis AS Diagnosis,
    a.Appointment_Room AS Room,
    a.Appointment_Status AS Status
  FROM Appointment a
    JOIN Patient p ON p.Patient_Id = a.PatientId
    JOIN Doctor d ON d.Doctor_Id  = a.DoctorId
    LEFT JOIN Speciality s ON s.Speciality_Id = d.SpecialityId
  WHERE a.Appointment_Id = @AppointmentId;
END
GO
/****** Object:  StoredProcedure [dbo].[Appointment_Insert]    Script Date: 08/08/2025 22:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Oscar Aguilera>
-- Create Date: <08/08/2025>
-- Description: Registrar atención (valida no solapamiento por doctor)
/*
  -- Tests --
  EXEC dbo.Appointment_Insert
    @PatientId=1, @DoctorId=1,
    @StartUtc='2025-08-08T14:00:00Z', @EndUtc='2025-08-08T14:30:00Z',
    @Diagnosis=N'Control', @Room=N'101', @Status=N'Scheduled', @CreatedBy=N'api';
*/
-- =============================================
CREATE PROCEDURE [dbo].[Appointment_Insert]
  @PatientId   INT,
  @DoctorId    INT,
  @StartUtc    DATETIME2,
  @EndUtc      DATETIME2,
  @Diagnosis   NVARCHAR(500) = NULL,
  @Room        NVARCHAR(30)  = NULL,
  @Status      NVARCHAR(20)  = NULL, -- Scheduled/Completed/Cancelled
  @CreatedBy   NVARCHAR(128)
AS
BEGIN
  SET NOCOUNT ON;

  IF (@EndUtc <= @StartUtc)
  BEGIN
    RAISERROR('La hora de término debe ser mayor que la de inicio.', 16, 1);
    RETURN;
  END

  IF NOT EXISTS (SELECT 1 FROM Patient WHERE Patient_Id = @PatientId)
  BEGIN
    RAISERROR('Paciente no encontrado.', 16, 2);
    RETURN;
  END

  IF NOT EXISTS (SELECT 1 FROM Doctor WHERE Doctor_Id = @DoctorId)
  BEGIN
    RAISERROR('Doctor no encontrado.', 16, 3);
    RETURN;
  END

  BEGIN TRY
    SET TRANSACTION ISOLATION LEVEL SERIALIZABLE; -- Evita que otra transaccion inserte una cita en el mismo intervalo
    BEGIN TRAN;

    -- Verificar solape: (start < @End) AND (end > @Start)
    IF EXISTS (
      SELECT 1
      FROM Appointment WITH (UPDLOCK, HOLDLOCK) -- opcional: , INDEX(IX_Appointment_Doctor_Time)
      WHERE DoctorId = @DoctorId
        AND Appointment_StartUtc < @EndUtc
        AND Appointment_EndUtc > @StartUtc
    )
    BEGIN
      RAISERROR('El doctor ya tiene una atención en ese horario.', 16, 4);
      ROLLBACK;
      RETURN;
    END

    INSERT INTO Appointment(
      PatientId, 
      DoctorId, 
      Appointment_StartUtc, 
      Appointment_EndUtc,
      Appointment_Diagnosis, 
      Appointment_Room, 
      Appointment_Status,
      Appointment_CreatedBy
    )
    VALUES(
      @PatientId, 
      @DoctorId, 
      @StartUtc, 
      @EndUtc,
      @Diagnosis, 
      @Room, 
      ISNULL(@Status, N'Scheduled'),
      @CreatedBy
    );

    SELECT SCOPE_IDENTITY() AS NewId;

    COMMIT;
  END TRY
  BEGIN CATCH
    IF @@TRANCOUNT > 0 ROLLBACK;
    DECLARE @msg NVARCHAR(4000) = ERROR_MESSAGE();
    RAISERROR(@msg, 16, 5);
  END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Appointment_Search]    Script Date: 08/08/2025 22:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Oscar Aguilera>
-- Create Date: <08/08/2025>
-- Description: Consultar atenciones por fecha/doctor/paciente/especialidad
/*
  -- Tests --
  -- Por rango de fechas (solape con el intervalo)
  EXEC dbo.Appointment_Search @FromUtc='2025-08-08T00:00:00Z', @ToUtc='2025-08-08T23:59:59Z';

  -- Por Doctor
  EXEC dbo.Appointment_Search @DoctorId=1;

  -- Por Paciente
  EXEC dbo.Appointment_Search @PatientId=1;

  -- Por Especialidad
  EXEC dbo.Appointment_Search @SpecialityId=2;

  -- Combinado (fecha + doctor)
  EXEC dbo.Appointment_Search @FromUtc='2025-08-08T00:00:00Z', @ToUtc='2025-08-08T23:59:59Z', @DoctorId=1;
*/
-- =============================================
Create PROCEDURE [dbo].[Appointment_Search]
  @FromUtc      DATETIME2 = NULL,
  @ToUtc        DATETIME2 = NULL,
  @DoctorId     INT       = NULL,
  @PatientId    INT       = NULL,
  @SpecialityId INT       = NULL
AS
BEGIN
  SET NOCOUNT ON;

  SELECT
    a.Appointment_Id AS AppointmentId,
    a.PatientId,
    p.Patient_FirstName AS PatientFirstName,
    p.Patient_LastName AS PatientLastName,
    a.DoctorId,
    d.Doctor_FirstName AS DoctorFirstName,
    d.Doctor_LastName AS DoctorLastName,
    d.SpecialityId AS SpecialityId,
    s.Speciality_Name AS SpecialityName,
    a.Appointment_StartUtc AS StartUtc,
    a.Appointment_EndUtc AS EndUtc,
    DATEDIFF(MINUTE, a.Appointment_StartUtc, a.Appointment_EndUtc) AS DurationMinutes,
    a.Appointment_Diagnosis AS Diagnosis,
    a.Appointment_Room AS Room,
    a.Appointment_Status AS Status
  FROM Appointment a
    JOIN Patient p ON p.Patient_Id = a.PatientId
    JOIN Doctor d ON d.Doctor_Id  = a.DoctorId
    LEFT JOIN Speciality s ON s.Speciality_Id = d.SpecialityId
  WHERE (@DoctorId IS NULL OR a.DoctorId = @DoctorId)
    AND (@PatientId IS NULL OR a.PatientId = @PatientId)
    AND (@SpecialityId IS NULL OR d.SpecialityId = @SpecialityId)
    AND ((@FromUtc IS NULL AND @ToUtc IS NULL)
      OR (@FromUtc IS NOT NULL AND @ToUtc IS NULL AND a.Appointment_EndUtc > @FromUtc)
      OR (@FromUtc IS NULL AND @ToUtc IS NOT NULL AND a.Appointment_StartUtc < @ToUtc)
      OR (@FromUtc IS NOT NULL AND @ToUtc IS NOT NULL AND a.Appointment_StartUtc < @ToUtc AND a.Appointment_EndUtc > @FromUtc)
    )
  ORDER BY a.Appointment_StartUtc;
END
GO
/****** Object:  StoredProcedure [dbo].[Doctor_Delete]    Script Date: 08/08/2025 22:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Oscar Aguilera>
-- Create Date: <08/08/2025>
-- Description: <Eliminar Doctor si no tiene atenciones>
/*
  -- Test --
  EXEC dbo.Doctor_Delete @DoctorId = 1;
*/
-- =============================================
CREATE PROCEDURE [dbo].[Doctor_Delete]
  @DoctorId INT
AS
BEGIN
  SET NOCOUNT ON;

  IF NOT EXISTS (SELECT 1 FROM Doctor WHERE Doctor_Id = @DoctorId)
  BEGIN
    RAISERROR('Doctor no encontrado.', 16, 1);
    RETURN;
  END

  IF EXISTS (SELECT 1 FROM Appointment WHERE DoctorId = @DoctorId)
  BEGIN
    RAISERROR('No se puede eliminar: el doctor tiene atenciones registradas.', 16, 1);
    RETURN;
  END

  DELETE FROM Doctor WHERE Doctor_Id = @DoctorId;

  SELECT @@ROWCOUNT AS Affected;
END
GO
/****** Object:  StoredProcedure [dbo].[Doctor_GetById]    Script Date: 08/08/2025 22:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Oscar Aguilera>
-- Create Date: <08/08/2025>
-- Description: <Obtener Doctor por Id>
/*
  -- Test --
  EXEC dbo.Doctor_GetById @DoctorId = 1;
*/
-- =============================================
CREATE PROCEDURE [dbo].[Doctor_GetById]
  @DoctorId INT
AS
BEGIN
  SET NOCOUNT ON;

  SELECT
    d.Doctor_Id            AS DoctorId,
    d.Doctor_FirstName     AS FirstName,
    d.Doctor_LastName      AS LastName,
    d.Doctor_Email         AS Email,
    d.Doctor_Phone         AS Phone,
    d.Doctor_LicenseNumber AS LicenseNumber,
    d.SpecialityId         AS SpecialityId,
    s.Speciality_Name      AS SpecialityName
  FROM Doctor d
    LEFT JOIN Speciality s ON s.Speciality_Id = d.SpecialityId
  WHERE d.Doctor_Id = @DoctorId;
END
GO
/****** Object:  StoredProcedure [dbo].[Doctor_Insert]    Script Date: 08/08/2025 22:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Oscar Aguilera>
-- Create Date: <08/08/2025>
-- Description: <Insertar Doctor y devolver Id>
/*
  -- Test --
  EXEC dbo.Doctor_Insert
      @FirstName = N'Ana', @LastName = N'García',
      @Email = N'ana@clinic.cl', @Phone = N'+56 9 1111 2222',
      @LicenseNumber = N'MED-12345',
      @SpecialityId = 1,
      @CreatedBy = N'api';
*/
-- =============================================
CREATE PROCEDURE [dbo].[Doctor_Insert]
  @FirstName        NVARCHAR(100),
  @LastName         NVARCHAR(100),
  @Email            NVARCHAR(255) = NULL,
  @Phone            NVARCHAR(50)  = NULL,
  @LicenseNumber    NVARCHAR(50),
  @SpecialityId     INT,
  @CreatedBy        NVARCHAR(128)
AS
BEGIN
  SET NOCOUNT ON;

  IF NOT EXISTS (SELECT 1 FROM Speciality WHERE Speciality_Id = @SpecialityId)
  BEGIN
    RAISERROR('Especialidad no encontrada.', 16, 1);
    RETURN;
  END

  INSERT INTO Doctor (
      Doctor_FirstName, 
	  Doctor_LastName, 
	  Doctor_Email, 
	  Doctor_Phone,
      Doctor_LicenseNumber, 
	  SpecialityId,
      Doctor_CreatedBy
  )
  VALUES (
      @FirstName, 
	  @LastName, 
	  @Email, 
	  @Phone,
      @LicenseNumber, 
	  @SpecialityId,
      @CreatedBy
  );

  SELECT SCOPE_IDENTITY() AS NewId;
END
GO
/****** Object:  StoredProcedure [dbo].[Doctor_Search]    Script Date: 08/08/2025 22:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Oscar Aguilera>
-- Create Date: <08/08/2025>
-- Description: <Buscar Doctores por nombre, especialidad o LicenseNumber>
/*
  -- Test --
  -- Por nombre (contiene)
  EXEC dbo.Doctor_Search @Name = N'ana';

  -- Por especialidad
  EXEC dbo.Doctor_Search @SpecialityId = 1;

  -- Por codigo de licencia
  EXEC dbo.Doctor_Search @LicenseNumber = N'MED-12345';
*/
-- =============================================
CREATE PROCEDURE [dbo].[Doctor_Search]
  @Name          NVARCHAR(100) = NULL,  -- busca SOLO en FirstName
  @SpecialityId  INT           = NULL,
  @LicenseNumber NVARCHAR(50)  = NULL
AS
BEGIN
  SET NOCOUNT ON;

  SELECT
    d.Doctor_Id            AS DoctorId,
    d.Doctor_FirstName     AS FirstName,
    d.Doctor_LastName      AS LastName,
    d.Doctor_Email         AS Email,
    d.Doctor_Phone         AS Phone,
    d.Doctor_LicenseNumber AS LicenseNumber,
    d.SpecialityId         AS SpecialityId,
    s.Speciality_Name      AS SpecialityName
  FROM Doctor d
    LEFT JOIN Speciality s ON s.Speciality_Id = d.SpecialityId
  WHERE (@Name IS NULL OR d.Doctor_FirstName LIKE '%' + @Name + '%')
    AND (@SpecialityId IS NULL OR d.SpecialityId = @SpecialityId)
    AND (@LicenseNumber IS NULL OR d.Doctor_LicenseNumber = @LicenseNumber)
  ORDER BY d.Doctor_LastName, d.Doctor_FirstName;
END
GO
/****** Object:  StoredProcedure [dbo].[Doctor_Update]    Script Date: 08/08/2025 22:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Oscar Aguilera>
-- Create Date: <08/08/2025>
-- Description: <Actualizar Doctor>
/*
  -- Test --
  EXEC dbo.Doctor_Update
      @DoctorId = 1,
      @FirstName = N'Ana', @LastName = N'García Soto',
      @Email = N'ana@clinic.cl', @Phone = N'+56 9 3333 4444',
      @LicenseNumber = N'MED-12345',
      @SpecialityId = 1,
      @ModifiedBy = N'api';
*/
-- =============================================
Create PROCEDURE [dbo].[Doctor_Update]
  @DoctorId         INT,
  @FirstName        NVARCHAR(100),
  @LastName         NVARCHAR(100),
  @Email            NVARCHAR(255) = NULL,
  @Phone            NVARCHAR(50)  = NULL,
  @LicenseNumber    NVARCHAR(50),
  @SpecialityId     INT,
  @ModifiedBy       NVARCHAR(128)
AS
BEGIN
  SET NOCOUNT ON;

  IF NOT EXISTS (SELECT 1 FROM Doctor WHERE Doctor_Id = @DoctorId)
  BEGIN
    RAISERROR('Doctor no encontrado.', 16, 1);
    RETURN;
  END

  IF NOT EXISTS (SELECT 1 FROM Speciality WHERE Speciality_Id = @SpecialityId)
  BEGIN
    RAISERROR('Especialidad no encontrada.', 16, 1);
    RETURN;
  END

  IF EXISTS (
      SELECT 1 FROM Doctor
      WHERE Doctor_LicenseNumber = @LicenseNumber
        AND Doctor_Id <> @DoctorId
  )
  BEGIN
    RAISERROR('LicenseNumber ya existe.', 16, 1);
    RETURN;
  END

  UPDATE Doctor
     SET Doctor_FirstName     = @FirstName,
         Doctor_LastName      = @LastName,
         Doctor_Email         = @Email,
         Doctor_Phone         = @Phone,
         Doctor_LicenseNumber = @LicenseNumber,
         SpecialityId         = @SpecialityId,
         Doctor_ModifiedBy    = @ModifiedBy,
         Doctor_ModifiedAt    = SYSUTCDATETIME()
   WHERE Doctor_Id = @DoctorId;

  SELECT @@ROWCOUNT AS Affected;
END
GO
/****** Object:  StoredProcedure [dbo].[Patient_Delete]    Script Date: 08/08/2025 22:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Oscar Aguilera>
-- Create Date: <08/08/2025>
-- Description: <Eliminar paciente por id, siempre que no tenga atenciones asociadas>
/*
  --Test--
  EXEC dbo.Patient_Delete @PatientId = 1;
*/
-- =============================================
CREATE PROCEDURE [dbo].[Patient_Delete]
  @PatientId INT
AS
BEGIN
  SET NOCOUNT ON;

  -- Verificar existencia
  IF NOT EXISTS (SELECT 1 FROM Patient WHERE Patient_Id = @PatientId)
  BEGIN
    RAISERROR('Paciente no encontrado.', 16, 1);
    RETURN;
  END

  -- Evitar borrar si tiene atenciones
  IF EXISTS (SELECT 1 FROM Appointment WHERE PatientId = @PatientId)
  BEGIN
    RAISERROR('No se puede eliminar: el paciente tiene atenciones registradas.', 16, 1);
    RETURN;
  END

  -- Eliminar
  DELETE FROM Patient WHERE Patient_Id = @PatientId;

  SELECT @@ROWCOUNT AS Affected; -- 1 si se borró, 0 si no
END
GO
/****** Object:  StoredProcedure [dbo].[Patient_GetById]    Script Date: 08/08/2025 22:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Oscar Aguilera>
-- Create Date: <08/08/2025>
-- Description: <Buscar paciente por ID>
/*
  --Test--
  -- Por RUT
  EXEC dbo.Patient_GetById @PatientId = 1;
*/
-- =============================================
CREATE PROCEDURE [dbo].[Patient_GetById]
  @PatientId INT
AS
BEGIN
  SET NOCOUNT ON;

  SELECT
    Patient_Id           AS PatientId,
    Patient_FirstName    AS FirstName,
    Patient_LastName     AS LastName,
    Patient_RUT          AS RUT,
    Patient_DateOfBirth  AS DateOfBirth,
    Patient_Gender       AS Gender,
    Patient_Phone        AS Phone,
    Patient_Email        AS Email,
    Patient_AddressLine1 AS AddressLine1,
    Patient_AddressLine2 AS AddressLine2,
    Patient_City         AS City,
    Patient_State        AS State,
    Patient_PostalCode   AS PostalCode
  FROM Patient
  WHERE Patient_Id = @PatientId;
END
GO
/****** Object:  StoredProcedure [dbo].[Patient_Insert]    Script Date: 08/08/2025 22:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Oscar Aguilera>
-- Create Date: <08/08/2025>
-- Description: <Insertar datos de los pacientes>
/*
  --Test--
  EXEC dbo.Patient_Insert 
    @FirstName = N'Juan', 
    @LastName = N'Pérez', 
    @RUT = '12.345.678-9', 
    @DateOfBirth = '1993-04-15', 
    @Gender = 'M',
    @Phone = N'+56 9 1234 5678', 
    @Email = N'juan.perez@test.cl', 
    @AddressLine1 = N'Calle Falsa 123', 
    @City = N'Santiago', 
    @State = N'RM',
    @PostalCode = N'8320000', 
    @CreatedBy = N'api';
*/
-- =============================================
CREATE PROCEDURE [dbo].[Patient_Insert]
  @FirstName       NVARCHAR(100),
  @LastName        NVARCHAR(100),
  @RUT             VARCHAR(12),
  @DateOfBirth     DATE,
  @Gender          CHAR(1) = NULL,  -- 'M'/'F'/'O'
  @Phone           NVARCHAR(50) = NULL,
  @Email           NVARCHAR(255) = NULL,
  @AddressLine1    NVARCHAR(150) = NULL,
  @AddressLine2    NVARCHAR(150) = NULL,
  @City            NVARCHAR(100) = NULL,
  @State           NVARCHAR(100) = NULL,
  @PostalCode      NVARCHAR(20) = NULL,
  @CreatedBy       NVARCHAR(128)
AS
BEGIN
  SET NOCOUNT ON;

  INSERT INTO Patient(
    Patient_FirstName, 
	Patient_LastName, 
	Patient_RUT, 
	Patient_DateOfBirth,
    Patient_Gender, 
	Patient_Phone, 
	Patient_Email, 
	Patient_AddressLine1, 
	Patient_AddressLine2,
    Patient_City, 
	Patient_State, 
	Patient_PostalCode, 
	Patient_CreatedBy
  )
  VALUES(
    @FirstName, 
	@LastName, 
	@RUT, 
	@DateOfBirth,
    @Gender, 
	@Phone, 
	@Email, 
	@AddressLine1, 
	@AddressLine2,
    @City, 
	@State, 
	@PostalCode, 
	@CreatedBy
  );

  SELECT SCOPE_IDENTITY() AS NewId;
END
GO
/****** Object:  StoredProcedure [dbo].[Patient_Search]    Script Date: 08/08/2025 22:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Oscar Aguilera>
-- Create Date: <08/08/2025>
-- Description: <Buscar paciente por Rut, nombre o rango de edad>
/*
  --Test--
  -- Por RUT
  EXEC dbo.Patient_Search @RUT = '12.345.678-9';
  
  -- Por nombre (contiene)
  EXEC dbo.Patient_Search @Name = N'juan';
  
  -- Por edades (20 a 40)
  EXEC dbo.Patient_Search @MinAge = 20, @MaxAge = 40;
*/
-- =============================================
CREATE PROCEDURE [dbo].[Patient_Search]
  @RUT     VARCHAR(12)   = NULL,       -- filtro exacto por RUT
  @Name    NVARCHAR(100) = NULL,       -- busca en FirstName/LastName (contiene)
  @MinAge  INT           = NULL,       -- edad mínima (años)
  @MaxAge  INT           = NULL        -- edad máxima (años)
AS
BEGIN
  SET NOCOUNT ON;

  -- Para edad usamos fechas de nacimiento:
  -- MinBirthDate  → persona más vieja aceptada (hoy - MaxAge)
  -- MaxBirthDate  → persona más joven aceptada (hoy - MinAge)
  DECLARE @Today DATE = CAST(GETUTCDATE() AS DATE);
  DECLARE @MinBirthDate DATE = CASE WHEN @MaxAge IS NULL THEN NULL ELSE DATEADD(YEAR, -@MaxAge, @Today) END;
  DECLARE @MaxBirthDate DATE = CASE WHEN @MinAge IS NULL THEN NULL ELSE DATEADD(YEAR, -@MinAge, @Today) END;

  SELECT
    Patient_Id           AS PatientId,
    Patient_FirstName    AS FirstName,
    Patient_LastName     AS LastName,
    Patient_RUT          AS RUT,
    Patient_DateOfBirth  AS DateOfBirth,
    Patient_Gender       AS Gender,
    Patient_Phone        AS Phone,
    Patient_Email        AS Email,
    Patient_AddressLine1 AS AddressLine1,
    Patient_AddressLine2 AS AddressLine2,
    Patient_City         AS City,
    Patient_State        AS State,
    Patient_PostalCode   AS PostalCode
  FROM Patient
  WHERE (@RUT IS NULL OR Patient_RUT = @RUT)
    AND (@Name IS NULL OR Patient_FirstName LIKE '%' + @Name + '%')
    AND (@MinBirthDate IS NULL OR Patient_DateOfBirth >= @MinBirthDate) 
    AND (@MaxBirthDate IS NULL OR Patient_DateOfBirth <= @MaxBirthDate)
  ORDER BY Patient_FirstName, Patient_LastName;
END
GO
/****** Object:  StoredProcedure [dbo].[Patient_Update]    Script Date: 08/08/2025 22:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Oscar Aguilera>
-- Create Date: <08/08/2025>
-- Description: <Actualizar paciente, valida que el rut no se repita>
/*
  --Test--
  EXEC dbo.Patient_Update
    @Id = 1,
    @FirstName = N'Juan',
    @LastName = N'Pérez',
    @RUT = '12.345.678-9',
    @DateOfBirth = '1993-04-15',
    @Gender = 'M',
    @Phone = N'+56 9 8765 4321', -- Telefono Modificado
    @Email = N'juan.perez@test.cl',
    @AddressLine1 = N'Av. Siempre Viva 742', -- Direccion Modificada
    @City = N'Santiago',
    @State = N'RM',
    @PostalCode = N'8320000',
    @ModifiedBy = N'api';
*/
-- =============================================
CREATE PROCEDURE [dbo].[Patient_Update]
  @Id              INT,
  @FirstName       NVARCHAR(100),
  @LastName        NVARCHAR(100),
  @RUT             VARCHAR(12),
  @DateOfBirth     DATE,
  @Gender          CHAR(1) = NULL,
  @Phone           NVARCHAR(50) = NULL,
  @Email           NVARCHAR(255) = NULL,
  @AddressLine1    NVARCHAR(150) = NULL,
  @AddressLine2    NVARCHAR(150) = NULL,
  @City            NVARCHAR(100) = NULL,
  @State           NVARCHAR(100) = NULL,
  @PostalCode      NVARCHAR(20) = NULL,
  @ModifiedBy      NVARCHAR(128)
AS
BEGIN
  SET NOCOUNT ON;

  -- Verificar existencia del paciente
  IF NOT EXISTS (SELECT 1 FROM Patient WHERE Patient_Id = @Id)
  BEGIN
    RAISERROR('Paciente no encontrado.', 16, 1);
    RETURN;
  END

  -- Validar que el RUT no exista en otro paciente
  IF EXISTS (
      SELECT 1 FROM Patient
      WHERE Patient_RUT = @RUT
      AND Patient_Id <> @Id
  )
  BEGIN
    RAISERROR('RUT ya existe.', 16, 1);
    RETURN;
  END

  -- Actualizar datos
  UPDATE Patient
  SET
    Patient_FirstName    = @FirstName,
    Patient_LastName     = @LastName,
    Patient_RUT          = @RUT,
    Patient_DateOfBirth  = @DateOfBirth,
    Patient_Gender       = @Gender,
    Patient_Phone        = @Phone,
    Patient_Email        = @Email,
    Patient_AddressLine1 = @AddressLine1,
    Patient_AddressLine2 = @AddressLine2,
    Patient_City         = @City,
    Patient_State        = @State,
    Patient_PostalCode   = @PostalCode,
    Patient_ModifiedBy   = @ModifiedBy,
    Patient_ModifiedAt   = SYSUTCDATETIME()
  WHERE Patient_Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[Speciality_Delete]    Script Date: 08/08/2025 22:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Oscar Aguilera>
-- Create Date: <08/08/2025>
-- Description: <Eliminar Especialidad si no tiene doctores asociados>
/*
  -- Test --
  EXEC dbo.Speciality_Delete @SpecialityId = 1;
*/
-- =============================================
CREATE PROCEDURE [dbo].[Speciality_Delete]
  @SpecialityId INT
AS
BEGIN
  SET NOCOUNT ON;

  IF NOT EXISTS (SELECT 1 FROM Speciality WHERE Speciality_Id = @SpecialityId)
  BEGIN
    RAISERROR('Especialidad no encontrada.', 16, 1); -- State 1
    RETURN;
  END

  -- Bloquear si hay doctores usando esta especialidad
  IF EXISTS (SELECT 1 FROM Doctor WHERE SpecialityId = @SpecialityId)
  BEGIN
    RAISERROR('No se puede eliminar: existen doctores asociados.', 16, 2); -- State 2
    RETURN;
  END

  DELETE FROM Speciality WHERE Speciality_Id = @SpecialityId;

  SELECT @@ROWCOUNT AS Affected;
END



GO
/****** Object:  StoredProcedure [dbo].[Speciality_GetAll]    Script Date: 08/08/2025 22:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Oscar Aguilera>
-- Create Date: <08/08/2025>
-- Description: <Listar todas las Especialidades>
/*
  -- Test --
  EXEC dbo.Speciality_GetAll;
*/
-- =============================================
Create PROCEDURE [dbo].[Speciality_GetAll]
AS
BEGIN
  SET NOCOUNT ON;

  SELECT
    Speciality_Id          AS SpecialityId,
    Speciality_Name        AS Name,
    Speciality_Description AS Description
  FROM Speciality
  ORDER BY Speciality_Name;
END
GO
/****** Object:  StoredProcedure [dbo].[Speciality_GetById]    Script Date: 08/08/2025 22:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Oscar Aguilera>
-- Create Date: <08/08/2025>
-- Description: <Obtener Especialidad por Id>
/*
  -- Test --
  EXEC dbo.Speciality_GetById @SpecialityId = 1;
*/
-- =============================================
CREATE PROCEDURE [dbo].[Speciality_GetById]
  @SpecialityId INT
AS
BEGIN
  SET NOCOUNT ON;

  SELECT
    Speciality_Id          AS SpecialityId,
    Speciality_Name        AS Name,
    Speciality_Description AS Description
  FROM Speciality
  WHERE Speciality_Id = @SpecialityId;
END
GO
/****** Object:  StoredProcedure [dbo].[Speciality_Insert]    Script Date: 08/08/2025 22:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Oscar Aguilera>
-- Create Date: <08/08/2025>
-- Description: <Insertar Especialidad y devolver Id>
/*
  -- Test --
  EXEC dbo.Speciality_Insert
      @Name = N'Cardiología',
      @Description = N'Atención del corazón',
      @CreatedBy = N'api';
*/
-- =============================================
CREATE PROCEDURE [dbo].[Speciality_Insert]
  @Name        NVARCHAR(100),
  @Description NVARCHAR(250) = NULL,
  @CreatedBy   NVARCHAR(128)
AS
BEGIN
  SET NOCOUNT ON;

  INSERT INTO Speciality (
	Speciality_Name, 
	Speciality_Description, 
	Speciality_CreatedBy
  )
  VALUES (
	@Name, 
	@Description, 
	@CreatedBy
  );

  SELECT SCOPE_IDENTITY() AS NewId;
END
GO
/****** Object:  StoredProcedure [dbo].[Speciality_Update]    Script Date: 08/08/2025 22:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Oscar Aguilera>
-- Create Date: <08/08/2025>
-- Description: <Actualizar Especialidad>
/*
  -- Test --
  EXEC dbo.Speciality_Update
      @SpecialityId = 1,
      @Name = N'Cardiología Adulto',
      @Description = N'Cardiología en adultos',
      @ModifiedBy = N'api';
*/
-- =============================================
CREATE PROCEDURE [dbo].[Speciality_Update]
  @SpecialityId INT,
  @Name         NVARCHAR(100),
  @Description  NVARCHAR(250) = NULL,
  @ModifiedBy   NVARCHAR(128)
AS
BEGIN
  SET NOCOUNT ON;

  IF NOT EXISTS (SELECT 1 FROM Speciality WHERE Speciality_Id = @SpecialityId)
  BEGIN
    RAISERROR('Especialidad no encontrada.', 16, 1);
    RETURN;
  END

  UPDATE Speciality
     SET Speciality_Name        = @Name,
         Speciality_Description = @Description,
         Speciality_ModifiedBy  = @ModifiedBy,
         Speciality_ModifiedAt  = SYSUTCDATETIME()
   WHERE Speciality_Id = @SpecialityId;

  SELECT @@ROWCOUNT AS Affected;
END
GO
USE [master]
GO
